
services:

  frontend-movies:
    build:
      context: frontend-movies
      dockerfile: Dockerfile
    container_name: frontend_movies
    environment:
      API_MOVIES_URL: http://host.docker.internal:8081/api/movies
      API_ACTORS_URL: http://host.docker.internal:8082/api/actors
    ports:
      - "8088:80"
    volumes:
      - ./frontend-movies:/var/www/html

  db-movies:
    image: postgres:16
    container_name: movies_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: app1
      POSTGRES_PASSWORD: app1
      POSTGRES_DB: movies_db
    ports:
      - "5432:5432"
    volumes:
      - ./api-movies/sql/local/:/docker-entrypoint-initdb.d:ro

  db-actors:
    image: postgres:16
    container_name: actors_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: app2
      POSTGRES_PASSWORD: app2
      POSTGRES_DB: actors_db
    ports:
      - "5433:5432"
    volumes:
      - ./api-actors/sql/local/:/docker-entrypoint-initdb.d:ro


